@model BlueSkyTravel.Models.Itinerary
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="card bg-light mx-auto">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Delete An Itinerary</h4>
        <p class="text-center">Are You Sure You Want to Delete this Itinerary?</p>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-suitcase-rolling"></i> </span>
                </div>
                <input asp-for="TripName" class="form-control" placeholder="Trip Name" type="text" readonly="@(true)">
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input asp-for="TravelDateStart" class="form-control" placeholder="Start Date" type="datetime-local" readonly="@(true)">
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                </div>
                <input asp-for="TravelDateFinish" class="form-control" placeholder="Finish Date" type="datetime-local" readonly="@(true)">
                <br />
            </div>



            <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-map-marked-alt"></i></span>
                </div>
                <input asp-for="Destination" class="form-control" placeholder="Destination" type="text" readonly="@(true)">
                <br />
            </div>

            <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input asp-for="Budget" class="form-control" placeholder="Trip Budget" type="text" readonly="@(true)">
                <br />
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <input type="submit" value="Delete" class="btn btn-primary btn-danger" />
                <input type="hidden" value="@Model.Id" asp-for="Id" />
            </div>
            <!-- form-group// -->
            <a asp-action="Index">Back to Itinerary List</a>
        </form>
    </article>
</div>


