@model BlueSkyTravel.Models.Itinerary
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Vacation Itinerary</h1>

<div class="itinerary-items">

    @{
        var dateStartValue = Model.TravelDateStart.ToString("MM/dd/yyyy");
        var dateEndValue = Model.TravelDateFinish.ToString("MM/dd/yyyy");


        <h4>@Model.TripName</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                Trip Begins:
                @*@Html.DisplayNameFor(model => model.TravelDateStart)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => dateStartValue)
            </dd>
            <dt class="col-sm-2">
                Trip Ends:
                @*@Html.DisplayNameFor(model => model.TravelDateFinish)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => dateEndValue)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Destination):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Destination)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Budget):
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(model => model.Budget)
            </dd>
        </dl>
    }

    <a asp-controller="Itinerary" asp-action="Update" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="itinerary-items" id="flights">
    <h4>Flight Plan</h4>
    <hr />
    @foreach (var item in Model.Flights)
    {
        <dl class="row">
            <dt class="col-sm-2">
                Airline:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.AirlineName)
            </dd>
            <dt class="col-sm-2">
                Flight Number:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </dd>
            <dt class="col-sm-2">
                Arrival:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </dd>
            <dt class="col-sm-2">
                Departure:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </dd>
            <dt class="col-sm-2">
                Airfare:
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(modelItem => item.Fare)
            </dd>
            @*<p>
                @Html.DisplayFor(modelItem => item.Itinerary.Id)
            </p>*@
        </dl>

        <div>
            <a asp-controller="Flight" asp-action="Update" asp-route-id="@item.Id">Update</a> |
            <a asp-controller="Flight" asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-controller="Flight" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    }
    <a asp-controller="Flight" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add A Flight</a>
</div>

<div class="itinerary-items" id="hotels">
    @foreach (var item in Model.Hotels)
    {
        var dateStartHotel = item.CheckIn.ToString("MM/dd/yyyy");
        var dateEndHotel = item.CheckOut.ToString("MM/dd/yyyy");
        <div>
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Address)
            </p>
            <p>
                @Html.DisplayFor(modelItem => dateStartHotel)
            </p>
            <p>
                @Html.DisplayFor(modelItem => dateEndHotel)
            </p>
            <p>
                $@Html.DisplayFor(modelItem => item.NightlyRate)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Itinerary.Id)
            </p>
            <div>
                <a asp-controller="Hotel" asp-action="Update" asp-route-id="@item.Id">Update</a> |
                <a asp-controller="Hotel" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Hotel" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
    <a asp-controller="Hotel" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add A Hotel</a>
</div>
<div class="itinerary-items" id="activities">
    @foreach (var item in Model.ForFuns)
    {
        <div>
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.EventTime)
            </p>
            <p>
                $@Html.DisplayFor(modelItem => item.Fare)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Location)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Itinerary.Id)
            </p>
            <div>
                <a asp-controller="ForFun" asp-action="Update" asp-route-id="@item.Id">Update</a> |
                <a asp-controller="ForFun" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="ForFun" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
