@model BlueSkyTravel.Models.Itinerary
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dateStartValue = Model.TravelDateStart.ToString("MM/dd/yyyy");
    var dateEndValue = Model.TravelDateFinish.ToString("MM/dd/yyyy");
    var cssCounter = 0;
}


@section additionalNav{

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.TripName
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Update" asp-route-id="@Model.Id">Update Itinerary</a>
            <a class="dropdown-item" asp-controller="Flight" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add Flight</a>
            <a class="dropdown-item" asp-controller="Hotel" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add Hotel</a>
            <a class="dropdown-item" asp-controller="ForFun" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add Activity</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Delete" asp-route-id="@Model.Id">Delete Itinerary</a>
        </div>
    </li>

}



@section slider{



    <div id="itinDetails" class="carousel slide pointer-event" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" src="/img/BlueLagoon.jpg" alt="BlueLagoon">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Itinerary: @Model.TripName</h1>
                        <h2>Destination: @Html.DisplayFor(model => model.Destination)</h2>
                        <h3>Travel Dates: @Html.DisplayFor(model => dateStartValue) - @Html.DisplayFor(model => dateEndValue)</h3>
                        <p id="budget" value="@Model.Budget">$@Html.DisplayFor(model => model.Budget)</p>
                        <p id="balance">@Model.Budget</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
}


<section class="jumbotron text-center">
    <input id="countdown-value" type="hidden" value="@Model.TravelDateStart" />
    <div class="container">
        <h1>Vacation Countdown</h1>
        <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
        </ul>
    </div>
</section>




@section jumbotron{
    <section class="jumbotron text-center">
        <div class="container">
            <h2>Flight Plan: @Model.TripName</h2>
        </div>
    </section>
}


<div class="itinerary-items" id="flights">
    <h4>Flight Plan</h4>
    <hr />
    @foreach (var item in Model.Flights)
    {
        <dl class="row">
            <dt class="col-sm-2">
                Airline:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.AirlineName)
            </dd>
            <dt class="col-sm-2">
                Flight Number:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </dd>
            <dt class="col-sm-2">
                Arrival:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </dd>
            <dt class="col-sm-2">
                Departure:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </dd>
            <dt class="col-sm-2">
                Airfare:
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(modelItem => item.Fare)
            </dd>
            @*
                <p>
                    @Html.DisplayFor(modelItem => item.Itinerary.Id)
                </p>*@
        </dl>
        <input id="flightFare" type="hidden" value="@item.Fare" />
        <div>
            <a asp-controller="Flight" asp-action="Update" asp-route-id="@item.Id">Update</a> |
            <a asp-controller="Flight" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    }
    <a asp-controller="Flight" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add A Flight</a>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h2>Resort Reservation: @Model.TripName</h2>
    </div>
</section>

<div class="itinerary-items" id="hotels">
    <h4>Resort Reservations</h4>
    <hr />
    @foreach (var item in Model.Hotels)
    {
        var dateStartHotel = item.CheckIn.ToString("MM/dd/yyyy");
        var dateEndHotel = item.CheckOut.ToString("MM/dd/yyyy");

        <dl class="row">
            <dt class="col-sm-2">
                Hotel:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
            <dt class="col-sm-2">
                Address:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Address)
            </dd>
            <dt class="col-sm-2">
                Check-In:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => dateStartHotel)
            </dd>
            <dt class="col-sm-2">
                Check-Out:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => dateEndHotel)
            </dd>
            <dt class="col-sm-2">
                Rate:
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(modelItem => item.NightlyRate)/Night
            </dd>
            @*
                <p>
                    @Html.DisplayFor(modelItem => item.Itinerary.Id)
                </p>*@
        </dl>
        <input id="hotelRate" type="hidden" value="@item.NightlyRate" />

        <div>
            <a asp-controller="Hotel" asp-action="Update" asp-route-id="@item.Id">Update</a> |
            <a asp-controller="Hotel" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    }
    <a asp-controller="Hotel" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add A Hotel</a>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h2>Activities: @Model.TripName</h2>
    </div>
</section>




<section id=timeline>
    <h1>@Model.TripName Activity Timeline</h1>
    <p class="leader">Have Fun and Plan on!!</p>
    <div class="demo-card-wrapper">

        @foreach (var item in Model.ForFuns)
        {

            <div class="demo-card demo-card--step1 even">
                <div class="head">
                    <div class="number-box">
                        <span>01</span>
                    </div>
                    <h2><span class="small">Subtitle</span> Technology</h2>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                    <img src="http://placehold.it/1000x500" alt="Graphic">
                </div>
            </div>

        }

    </div>

</section>










<div class="itinerary-items" id="activities">
    <h4>Plans</h4>
    <hr />
    @foreach (var item in Model.ForFuns)
    {

        cssCounter++;

        @cssCounter

        <dl class="row">
            <dt class="col-sm-2">
                Activity:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
            <dt class="col-sm-2">
                Date and Time:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.EventTime)
            </dd>
            <dt class="col-sm-2">
                Cost:
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(modelItem => item.Fare) per Person
            </dd>
            <dt class="col-sm-2">
                Approval:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.IsApproved)
            </dd>
            <dt class="col-sm-2">
                Location:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Location)
            </dd>
            <dt class="col-sm-2">
                Likes:
            </dt>
            <dd id="likes" class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Like)
            </dd>
            <dt class="col-sm-2">
                Dislikes:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Dislike)
            </dd>
            @*
                <p>
                    @Html.DisplayFor(modelItem => item.Itinerary.Id)
                </p>*@
        </dl>
        @*<div class="fb-like" data-href="https://localhost:44387" data-width="60" data-layout="button" data-action="like" data-size="large" data-share="false"></div>*@
        <input id="activityFare" type="hidden" value="@item.Fare" />

        <div>
            <a asp-controller="ForFun" asp-action="Update" asp-route-id="@item.Id">Update</a> |
            <a asp-controller="ForFun" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            <br />
            @Html.ActionLink("Like", "CountLikes", "ForFun", new { funid = item.Id, itinId = item.Itinerary.Id })
            <br />
            @Html.ActionLink("Dislike", "CountDislikes", "ForFun", new { funid = item.Id, itinId = item.Itinerary.Id })
        </div>
    }

    <a asp-controller="ForFun" asp-action="CreateByItineraryId" asp-route-id="@Model.Id">Add An Activity</a>
</div>





<div id="slidebox">
    <a class="close"></a>
    <h2 class="everything">Click to Call Us <a href="callto://+15555555555"> + 1 555-556-5555</a></h2>
    <h2 class="mobile">Tap to Call Us <a href="tel:+15555555555"> + 1 555-556-5555</a></h2>
    <p>or click Get Started to and plan your Trip Today!</p>
    <a asp-action="Register" asp-controller="Account" class="nav-link text-dark">Get Started »</a>
</div>
