@model IEnumerable<BlueSkyTravel.Models.Itinerary>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">

        <h1>Your Itineraries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



        @foreach (var item in Model)
{
        
        var dateStart = item.TravelDateStart.ToString("MM/dd/yyyy");
        var dateEnd = item.TravelDateFinish.ToString("MM/dd/yyyy");

        <div class="media">

            <div class="img">
                <img src="http://placehold.it/250x250" alt="Placeholder">
            </div>
            <h2 class="title">@Html.DisplayFor(modelItem => item.TripName)</h2>
            <h3>Destination: @Html.DisplayFor(modelItem => item.Destination)</h3>
            <div class="content">
             <h4>Budget: $@Html.DisplayFor(modelItem => item.Budget)  </h4>
            </div>
            <div class="bottom">
                @Html.DisplayFor(modelItem => dateStart) -  @Html.DisplayFor(modelItem => dateEnd) ||   
                <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
        }


    </div>

