@model IEnumerable<BlueSkyTravel.Models.Itinerary>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Itineraries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Vacation
                @*@Html.DisplayNameFor(model => model.TripName)*@
            </th>
            <th>
                Trip Begins
                @*@Html.DisplayNameFor(model => model.TravelDateStart)*@
            </th>
            <th>
                Trip Ends
                @*@Html.DisplayNameFor(model => model.TravelDateFinish)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    var dateStart = item.TravelDateStart.ToString("MM/dd/yyyy");
    var dateEnd = item.TravelDateFinish.ToString("MM/dd/yyyy");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
