@model BlueSkyTravel.Models.ForFun
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="card bg-light mx-auto">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Delete Activity</h4>
        <p class="text-center">Are you sure you want to delete this activity?</p>

        <form asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-umbrella-beach"></i></span>
                </div>
                <input asp-for="Name" class="form-control" placeholder="Activity" type="text" readonly="@(true)">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                </div>
                <input asp-for="Location" class="form-control" placeholder="Location" type="text" readonly="@(true)">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                </div>
                <input asp-for="EventTime" class="form-control" placeholder="Date & Time" type="datetime-local" readonly="@(true)">
                <br />
                <span asp-validation-for="EventTime" class="text-danger"></span>
            </div>



            <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-dollar-sign"></i></span>
                </div>
                <input asp-for="Fare" class="form-control" placeholder="Cost Per Person" type="text" readonly="@(true)">
                <br />
                <span asp-validation-for="Fare" class="text-danger"></span>
            </div>

            <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-check-circle"></i></span>
                </div>
                <input asp-for="IsApproved" class="form-control" placeholder="Approval" type="checkbox" readonly="@(true)" disabled />
                <br />
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>


            <div class="form-group">

                <input type="hidden" asp-for="ItineraryId" class="form-control" asp-items="ViewBag.ItineraryId" />

            </div>

            <!-- form-group// -->
            <div class="form-group">
                <button type="submit" value="Delete" class="btn btn-primary btn-danger"> Delete Activity  </button>
            </div><!-- form-group// -->

            <a asp-controller="Itinerary" asp-action="Details" asp-route-id="@Model.ItineraryId">Back to List</a>
        </form>
    </article>
</div>




