@model IEnumerable<BlueSkyTravel.Models.ForFun>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itinerary.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Like)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Dislike)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Itinerary.Id)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Like)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Dislike)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <br/>
                    @Html.ActionLink("CountLikes", "CountLikes", new { funid = item.Id, itinId = item.Itinerary.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
