@model BlueSkyTravel.Models.Flight
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}




<!---I Pasted new here-->
<div class="card bg-light mx-auto">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Delete Flight</h4>
        <p class="text-center">Are you sure you want to delete this flight?</p>

        <form asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-plane"></i></span>
                </div>
                <input asp-for="AirlineName" class="form-control" placeholder="Airline Name" type="text" readonly="@(true)">
                <span asp-validation-for="AirlineName" class="text-danger"></span>
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                </div>
                <input asp-for="FlightNumber" class="form-control" placeholder="Flight Number" type="text" readonly="@(true)">
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                </div>
                <input asp-for="ArrivalDate" class="form-control" placeholder="Arrival" type="datetime-local" readonly="@(true)">
                <br />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>


            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                </div>
                <input asp-for="DepartureDate" class="form-control" placeholder="Departure" type="datetime-local" readonly="@(true)">
                <br />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>


            <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-dollar-sign"></i></span>
                </div>
                <input asp-for="Fare" class="form-control" placeholder="Total Airfare" type="text" readonly="@(true)">
                <br />
                <span asp-validation-for="Fare" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input type="hidden" asp-for="ItineraryId" class="form-control" asp-items="ViewBag.ItineraryId" />

            </div>

            <!-- form-group// -->
            <div class="form-group">
                <button type="submit" value="Delete" class="btn btn-primary btn-danger"> Delete Flight  </button>
            </div><!-- form-group// -->

            <a asp-controller="Itinerary" asp-action="Details" asp-route-id="@Model.ItineraryId">Back to Itinerary</a>
        </form>
    </article>
</div>


