@model BlueSkyTravel.Models.Hotel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

    <div class="card bg-light mx-auto">
        <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center">Delete Reservation</h4>
            <p class="text-center">Are you sure you want to delete this reservation?</p>

            <form asp-action="Delete" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-hotel"></i></span>
                    </div>
                    <input asp-for="Name" class="form-control" placeholder="Hotel Name" type="text" readonly="@(true)">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    <input asp-for="Address" class="form-control" placeholder="Address" type="text" readonly="@(true)">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                    </div>
                    <input asp-for="CheckIn" class="form-control" placeholder="Check-In" type="datetime-local" readonly="@(true)">
                    <br />
                    <span asp-validation-for="CheckIn" class="text-danger"></span>
                </div>

                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                    </div>
                    <input asp-for="CheckOut" class="form-control" placeholder="Check-Out" type="datetime-local" readonly="@(true)">
                    <br />
                    <span asp-validation-for="CheckOut" class="text-danger"></span>
                </div>

                <!-- form-group end.// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-dollar-sign"></i></span>
                    </div>
                    <input asp-for="NightlyRate" class="form-control" placeholder="Total Cost" type="text" readonly="@(true)">
                    <br />
                    <span asp-validation-for="NightlyRate" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <input type="hidden" asp-for="ItineraryId" class="form-control" asp-items="ViewBag.ItineraryId" />

                </div>

                <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" value="Delete" class="btn btn-primary btn-danger"> Delete Reservation  </button>
                </div><!-- form-group// -->

                <a asp-controller="Itinerary" asp-action="Details" asp-route-id="@Model.ItineraryId">Back to Itinerary</a>
            </form>
        </article>
    </div>
