@model BlueSkyTravel.Models.Hotel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NightlyRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NightlyRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itinerary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itinerary.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.Id">Update</a> |
    <a asp-controller="Itinerary" asp-action="Details" asp-route-id="@Model.ItineraryId">Back to List</a>
</div>
